/* General */

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: url("img/brickwall.jpeg");
    background-repeat: repeat;
    background-size: 75vw;
}

main p {
    font-size: 1em;
}

button {
    border: none;
}

header, .upper-screen, .lower-screen {
    display: flex;
}

header, .upper-screen, .lower-screen {
    padding: 10px;
}

header button, .power p, .player p {
    background-color: #f5f7b0;
}

#round, .upper-screen button {
    color: white;
}

/* Header */

header {
    justify-content: space-around;
}

header button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}

header i {
    font-size: 30px;
}

header p {
    font-size: 1.2em;
}

/* Partie haute de l'écran */

.upper-screen {
    flex-wrap: wrap;
    height: 30vh;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
}

.upper-screen i {
    font-size: 100px;
    line-height: 100px;
    height: 95px;
    width: 95px;
    background-color: white;
    border-radius: 20px;
}

.power {
    width: 40vw;
    text-align: center;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#round {
    background-color: #6060FA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.power, .upper-screen button {
    width: 40vw;
}

.upper-screen button {
    height: 40px;
    background-color: #6060FA;
    border-radius: 20px;
}

/* Partie basse de l'écran */

.lower-screen {
    height: 50vh;
    border: 1px solid blue;
    background-image: url('img/battleground_mobile.jpeg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
}

.player {
    width: 45vw;
    width: 60vw;
    border: 1px solid orange;
}

.pl2 {
    align-self: flex-end;
}

.wizards {
    height: 25vh;
    border: 1px solid red;
    position: relative;
}

.wizards img {
    position: absolute;
    width: 128px;
}

.pl1-img {
    bottom: 10px;
    left: 10px;
}

.pl2-img {
    top: 10px;
    right: 10px;
}

/* PENSER A CIBLER L'ID POWER AVEC LE JS POUR CHANGER LA CLASSE ET LE STYLE SUIVANT JOUEUR EN COURS */