/* General */

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

header, .upper-screen {
    display: flex;
}

header, .upper-screen, .lower-screen {
    padding: 10px;
}

header button, .power p, .player {
    background-color: #f5f7b0;
}

#round, .upper-screen button {
    color: white;
}

/* Header */

header {
    justify-content: space-around;
}

header button {
    width: 40vw;
}

header i {
    font-size: 40px;
}

/* Partie haute de l'écran */

.upper-screen {
    flex-wrap: wrap;
    height: 30vh;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/brickwall.jpeg');
    background-size: contain;
    background-position: center;
}

.upper-screen i {
    font-size: 100px;
    line-height: 100px;
    height: 95px;
    background-color: white;
    border-radius: 20px;
}

#active-player {
    display: none;
}

.power {
    height: fit-content;
    width: 40vw;
    text-align: center;
    border: 1px solid yellow;
}

#round {
    background-color: #6060FA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.power, .upper-screen button {
    width: 40vw;
}

.upper-screen button {
    height: 40px;
    background-color: #6060FA;
    border-radius: 20px;
}

/* Partie basse de l'écran */

.lower-screen {
    height: 50vh;
    border: 1px solid blue;
    background-image: url('img/battleground_mobile.jpeg');
    background-size: cover;
    background-position: center;
}

/* PENSER A CIBLER L'ID POWER AVEC LE JS POUR CHANGER LA CLASSE ET LE STYLE SUIVANT JOUEUR EN COURS */